<?php

namespace App\Filament\Imports;

use App\Models\<<MODEL_NAME>>;
<<RELATIONSHIP_MODEL_NAME>>
use Filament\Actions\Imports\ImportColumn;
use Filament\Actions\Imports\Importer;
use Filament\Actions\Imports\Models\Import;
use Illuminate\Support\Number;
use Filament\Forms\Components\Checkbox;

class <<MODEL_NAME>>Importer extends Importer
{
    protected static ?string $model = <<MODEL_NAME>>::class;

    public static function getColumns(): array
    {
        return [
            ImportColumn::make('<<COLUMN_OR_RELATIONSHIP_NAME>>')
                ->label('<<CAPTION_VALUE>>')
                <<MAPPING>>
                <<RELATIONSHIP>>
                <<IS_NUMERIC>>
                <<IS_INTEGER>>
                <<BOOLEAN_TYPE>>
                <<JSON_LIST_TO_ARRAY>>
                ->helperText('<<HELPER_TEXT>>')
                ->ignoreBlankState()
                <<RULES>>
                ->examples(<<DUMMY_DATA>>)
                ->exampleHeader('<<CAPTION_VALUE>>')
        ];
    }

    public function resolveRecord(): ?<<MODEL_NAME>>
    {
    /* Fasa 2 */
    }

    public static function getCompletedNotificationBody(Import $import): string
    {
        $body = 'Your <<FRASE_MODEL_NAME>> import has completed and ' . Number::format($import->successful_rows) . ' ' . str('row')->plural($import->successful_rows) . ' imported.';

        if ($failedRowsCount = $import->getFailedRowsCount()) {
            $body .= ' ' . Number::format($failedRowsCount) . ' ' . str('row')->plural($failedRowsCount) . ' failed to import.';
        }

        return $body;
    }
    
    public static function getOptionsFormComponents(): array
    {
        return [
            Checkbox::make('updateExisting')
                ->label('Update existing records'),
        ];
    }

}
