<?php

namespace App\Models;

<<IMPORT_FACTORY>>
use Illuminate\Database\Eloquent\Model;
<<IMPORT_SOFTDELETE>>
<<IMPORT_AUDIT>>

class <<CLASS_NAME>> extends Model <<CLASS_IMPLEMENTS_AUDIT>>
{
	<<TRAIT_FACTORY>>
    <<TRAIT_AUDIT>>
    <<TRAIT_SOFTDELETE>>
    /**
     *
     * @var string
     */
    protected $table = '<<TABLE_NAME>>';
    /**
     *
     * @var string
     */
    protected $primaryKey = '<<PRIMARY_KEY>>';
    /**
     *
     * @var array<int, string>
     */
    protected $fillable = [
        <<ARRAY_EDITABLE_BYUSER_FIELDS>>
    ];
    
<<MODEL_CASTS>>    

<<RELATIONSHIP_FUNCTIONS>>	

<<COMBINE_FIELDS_VALUE>>

<<HELPER_METHODS>>
}
