<?php

namespace App\Models;

// use Illuminate\Contracts\Auth\MustVerifyEmail;
use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Foundation\Auth\User as Authenticatable;
use Illuminate\Notifications\Notifiable;
{{ import_shield }}
{{ import_softdelete }}
{{ import_audit }}
{{ import_tenant }}
{{ import_2fa }}

class User extends Authenticatable {{ implements_clause }}
{
    /** @use HasFactory<\Database\Factories\UserFactory> */
    use HasFactory, Notifiable{{ trait_shield }}{{ trait_audit }}{{ trait_softdelete }};

    /**
     * The attributes that are mass assignable.
     *
     * @var list<string>
     */
    protected $fillable = [
        'name',
        'email',
        'password',
    ];

    /**
     * The attributes that should be hidden for serialization.
     *
     * @var list<string>
     */
    protected $hidden = [
        'password',
        'remember_token',
    ];

    /**
     * Get the attributes that should be cast.
     *
     * @return array<string, string>
     */
    protected function casts(): array
    {
        return [
            'email_verified_at' => 'datetime',
            'password' => 'hashed',
        ];
    }
{% if relationship_functions %}{{ relationship_functions }}

{% endif %}{{ methods_2fa }}}
