<?php

namespace {{ namespace }};

use Filament\Pages\Page;
use Illuminate\Support\Facades\Config;

class DeploymentGuide extends Page
{
    protected static string | \BackedEnum | null $navigationIcon = 'heroicon-o-rocket-launch';
    
    protected static ?string $navigationLabel = 'Deployment Guide';
    
    protected static ?string $title = 'Deployment & Database Guide';

    protected static ?string $slug = 'deployment-guide';

    protected string $view = 'filament.pages.deployment-guide';
    
    protected static ?int $navigationSort = 999;

    protected static string | \UnitEnum | null $navigationGroup = 'System';

    public $currentConnection;
    public $isSqlite;

    public function mount()
    {
        // This logic runs at runtime (when the application is opened)
        $this->currentConnection = Config::get('database.default');
        $this->isSqlite = $this->currentConnection === 'sqlite';
    }
}