<?php

namespace App\Filament\Resources\<<TABLE_NAME_PLURAL>>\Pages;

use App\Filament\Resources\<<TABLE_NAME_PLURAL>>\<<TABLE_NAME_SINGULAR>>Resource;
use Filament\Resources\Pages\CreateRecord;

class Create<<TABLE_NAME_SINGULAR>> extends CreateRecord
{
    protected static string $resource = <<TABLE_NAME_SINGULAR>>Resource::class;

    protected function getHeaderActions(): array
    {
        return [
            $this->getCreateFormAction()
                 ->formId('form'),
            $this->getCreateAnotherFormAction()
                 ->formId('form'),
            $this->getCancelFormAction(),
        ];
    }
    
    <<IFRAME_LAYOUT>>

    protected function getFormActions(): array
    {
        return [];
    }
}