<?php

namespace App\Filament\Resources\<<TABLE_NAME_PLURAL>>\Pages;

use App\Filament\Resources\<<TABLE_NAME_PLURAL>>\<<TABLE_NAME_SINGULAR>>Resource;
use Filament\Actions\CreateAction;
use Filament\Resources\Pages\ListRecords;
<<IMPORT_BUILDER>>
use Filament\Support\Facades\FilamentView;
use Illuminate\Contracts\View\View;
use Illuminate\Contracts\Support\Htmlable;

class List<<TABLE_NAME_PLURAL>> extends ListRecords
{
    protected static string $resource = <<TABLE_NAME_SINGULAR>>Resource::class;

    public function getTitle(): string | Htmlable
    {
        return '<<TABLE_VIEW_TITLE>>'; 
    }
    
    protected function getHeaderActions(): array
    {
        return [
            <<CREATE_ACTION>>
        ];
    }
    
    <<FILTER_QUERY>>
    
    public function render(): View
    {
        <<VERTICAL_ACTION_BUTTON_CSS>>

        <<PRINT_ACTION_CSS>>

        return parent::render();
    }
    
    <<IFRAME_SETUP>>
}
