<?php

namespace App\Filament\Resources\<<TABLE_NAME_PLURAL>>\RelationManagers;

use App\Filament\Resources\<<CHILD_TABLE_NAME_PLURAL>>\<<CHILD_TABLE_NAME_SINGULAR>>Resource;
use Filament\Actions\CreateAction;
use Filament\Resources\RelationManagers\RelationManager;
use Filament\Tables\Table;

class <<CHILD_TABLE_NAME_SINGULAR>>RelationManager extends RelationManager
{
    protected static string $relationship = '<<CHILD_TABLE_NAME_PLURAL_CAMEL>>';
    
    protected static ?string $relatedResource = <<CHILD_TABLE_NAME_SINGULAR>>Resource::class;

    public function table(Table $table): Table
    {
        return $table
            ->headerActions([
                CreateAction::make(),
            ]);
    }
}
