<?php
namespace App\Filament\Resources\{{ table_name_plural }}\Schemas;

{{ import_resources }}

use Illuminate\Contracts\View\View;
use Illuminate\Support\HtmlString;
use Illuminate\Database\Eloquent\Builder;
use Illuminate\Database\Eloquent\Model;
use Filament\Schemas\Schema;
use Filament\Pages\Page;
use Filament\Schemas\Components\Utilities\Get;
use Filament\Schemas\Components\Section;
{% if wizard_active %}use Filament\Schemas\Components\Wizard;
use Filament\Schemas\Components\Wizard\Step;
{% endif %}use Filament\Actions\Action;
use Filament\Forms\Components\ViewField;
use Filament\Forms\Components\DatePicker;
use Filament\Forms\Components\DateTimePicker;
use Filament\Forms\Components\TimePicker;
use Filament\Forms\Components\Placeholder;
use Filament\Forms\Components\Select;
use Filament\Forms\Components\TextInput;
use Filament\Forms\Components\FileUpload;
use Filament\Forms\Components\Textarea;
use Filament\Forms\Components\RichEditor;
use Filament\Forms\Components\Checkbox;
use Filament\Forms\Components\CheckboxList;
use Filament\Forms\Components\Radio;
use Filament\Forms\Components\Repeater;
use Filament\Forms\Components\KeyValue;

class {{ form_class_name or (table_name_singular ~ "Form") }}
{
    public static function configure(Schema $schema): Schema
    {
{%- if form_layout_active %}
        return $schema->components([
			{{ all_columns_form }}
        ]);
{%- else %}
        return $schema->components([
            Section::make("{{ detail_view_title }}")
                {{ grid_column_control }}
                ->schema([
				{{ all_columns_form }}
                ])
                ->columnSpanFull(),
        ]);
{%- endif %}
    }
}