<?php

namespace App\Filament\Resources\<<TABLE_NAME_PLURAL>>\Tables;

<<IMPORT_RESOURCES>>

use App\Models\<<TABLE_NAME_SINGULAR>>;
<<IMPORT_ACTION>>
<<IMPORT_MASS_DELETE>>
<<IMPORT_DELETE_ACTION>>
<<IMPORT_EDIT_ACTION>>
<<IMPORT_FORCEDELETE_ACTION>>
<<IMPORT_RESTORE_ACTION>>
<<IMPORT_TRASHEDFILTER>>
<<IMPORT_IMAGE>>
<<IMPORT_UPLOAD>>
<<IMPORT_ICON_COLUMN_TEXT>>
<<IMPORT_COLUMN_TEXT_SIZE>>
<<IMPORT_FONTWEIGHT_COLUMN_TEXT>>
use Filament\Tables\Table;
use Filament\Tables\Columns\TextColumn;


class <<TABLE_NAME_PLURAL>>Table
{
    public static function configure(Table $table): Table
    {
        return $table
            <<DISABLED_PAGINATION>>
            <<PAGINATION_TYPE>>
            <<OPEN_TO_NEW_TAB>>
            <<DISABLED_DETAILVIEW>>
            <<DISABLED_ROW_INTERACTION>>
            ->description('<<ADD_DESCRIPTION>>')
            ->columns([
                ImageColumn::make('gambar_profil')
                    ->label('Gambar Profil')
                    ->disk('public')
                    ->circular(),
                TextColumn::make('nama_penuh')
                    ->sortable()
                    ->searchable(isIndividual: true, isGlobal: false), // individual only
                TextColumn::make('no_matrik')
                    ->sortable()
                    ->searchable(isIndividual: true),// individual & global
                TextColumn::make('email')
                    ->label('Email address')
                    ->sortable()
                    ->searchable(),//global only
                TextColumn::make('tarikh_daftar')
                    ->date()
                    ->sortable()
                    ->searchable(),
                IconColumn::make('surat_tawaran')
                    ->label('Surat Tawaran')
                    ->icon(fn ($state): ?string => $state ? 'heroicon-o-document-arrow-down' : null)
                    ->color('primary')
                    ->url(fn (?<<TABLE_NAME_SINGULAR>> $record) => $record?->surat_tawaran ? Storage::disk('public')->url($record->surat_tawaran) : null, shouldOpenInNewTab: true),
                TextColumn::make('created_at')
                    ->dateTime()
                    ->sortable()
                    ->toggleable(isToggledHiddenByDefault: true),
                TextColumn::make('updated_at')
                    ->dateTime()
                    ->sortable()
                    ->toggleable(isToggledHiddenByDefault: true),
            ])
            <<SHOW_ALL_FOR_PRINT>>
            ->filters([
                <<TRASHED_FILTER>>
                <<DATE_RANGE_FILTER>>
            ])
            ->recordActions([

                <<SHOW_COUNT_IN_TV>>   
                    
                <<ACTION_EDIT_BUTTON>>
                <<ACTION_DELETE_BUTTON>>
                <<ACTION_FORCEDELETE_BUTTON>>
                <<ACTION_RESTORE_BUTTON>>
            ])
            ->toolbarActions([
                <<ACTION_MASS_DELETE>>
            ]);
    }
}