<?php

namespace App\Filament\Resources\<<TABLE_NAME_PLURAL>>\Tables;

<<IMPORT_RESOURCES>>

use App\Models\<<TABLE_NAME_SINGULAR>>;
use Filament\Actions\Action;
use Filament\Actions\BulkActionGroup;
use Filament\Actions\DeleteAction;
use Filament\Actions\DeleteBulkAction;
use Filament\Actions\EditAction;
use Filament\Actions\ForceDeleteAction;
use Filament\Actions\RestoreAction;
use Filament\Tables\Table;
use Filament\Tables\Columns\IconColumn;
use Filament\Tables\Columns\ImageColumn;
use Filament\Tables\Columns\TextColumn;
use Filament\Tables\Filters\TrashedFilter;
use Filament\Tables\Columns\Summarizers\Sum;
use Filament\Tables\Columns\Summarizers\Average;
use Filament\Tables\Columns\Summarizers\Range;
use Filament\Tables\Columns\Summarizers\Count;
use Filament\Support\Icons\Heroicon;
use Filament\Support\Enums\TextSize;
use Filament\Support\Enums\FontWeight;
use Illuminate\Support\Facades\Storage;
use Illuminate\Support\HtmlString;
use Illuminate\Database\Query\Builder;
use Illuminate\Contracts\View\View;


class <<TABLE_NAME_PLURAL>>Table
{
    public static function configure(Table $table): Table
    {
        return $table
            <<DISABLED_PAGINATION>>
            <<PAGINATION_TYPE>>
            <<OPEN_TO_NEW_TAB>>
            <<DISABLED_DETAILVIEW>>
            <<DISABLED_ROW_INTERACTION>>
            ->description('<<ADD_DESCRIPTION>>')
            ->columns([
                <<ALL_COLUMNS>>
            ])
            <<SHOW_ALL_FOR_PRINT>>
            ->filters([
                <<TRASHED_FILTER>>
                <<DATE_RANGE_FILTER>>
            ])
            ->recordActions([

                <<SHOW_COUNT_IN_TV>>   
                    
                <<ACTION_EDIT_BUTTON>>
                <<ACTION_DELETE_BUTTON>>
                <<ACTION_FORCEDELETE_BUTTON>>
                <<ACTION_RESTORE_BUTTON>>
            ])
            ->toolbarActions([
                <<ACTION_MASS_DELETE>>
            ]);
    }
}