<?php

namespace App\Filament\Resources\{{ table_name_plural }}\Tables;

{{ import_resources }}

use App\Models\{{ table_name_singular }};
use Filament\Actions\Action;
use Filament\Actions\BulkActionGroup;
use Filament\Actions\DeleteAction;
use Filament\Actions\DeleteBulkAction;
use Filament\Actions\EditAction;
use Filament\Actions\ForceDeleteAction;
use Filament\Actions\RestoreAction;
use Filament\Tables\Table;
use Filament\Tables\Columns\IconColumn;
use Filament\Tables\Columns\ImageColumn;
use Filament\Tables\Columns\TextColumn;
use Filament\Tables\Filters\TrashedFilter;
use Filament\Tables\Columns\Summarizers\Sum;
use Filament\Tables\Columns\Summarizers\Average;
use Filament\Tables\Columns\Summarizers\Range;
use Filament\Tables\Columns\Summarizers\Count;
{% if layout_imports %}{{ layout_imports }}
{% endif %}{% if inline_edit_used %}use Filament\Tables\Columns\TextInputColumn;
use Filament\Tables\Columns\ToggleColumn;
use Filament\Tables\Columns\SelectColumn;
{% endif %}use Filament\Support\Icons\Heroicon;
use Filament\Support\Enums\TextSize;
use Filament\Support\Enums\FontWeight;
use Illuminate\Support\Facades\Storage;
use Illuminate\Support\HtmlString;
use Illuminate\Database\Query\Builder;
use Illuminate\Contracts\View\View;


class {{ table_class_name or (table_name_plural ~ "Table") }}
{
    public static function configure(Table $table): Table
    {
        return $table
            {{ disabled_pagination }}
            {{ pagination_type }}
{% if per_page %}            {{ per_page }}
{% endif %}{% if column_manager %}            {{ column_manager }}
{% endif %}{% if content_grid %}            {{ content_grid }}
{% endif %}            {{ open_to_new_tab }}
            {{ disabled_detailview }}
            {{ disabled_row_interaction }}
{% if grid_classes %}            {{ grid_classes }}
{% endif %}            ->description('{{ add_description }}')
            ->columns([
                {{ all_columns }}
            ])
            {{ show_all_for_print }}
            ->filters([
                {{ trashed_filter }}
            ])
            ->recordActions([

                {{ show_count_in_tv }}   
                    
                {{ action_edit_button }}{{ approval_actions }}
                {{ action_delete_button }}
                {{ action_forcedelete_button }}
                {{ action_restore_button }}
            ])
            ->toolbarActions([
                {{ action_mass_delete }}
            ]);
    }
}